body {
    margin: 0;
}

.full-page-panel {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.panel-0 {
    background-color: #053a51;
}

.panel-0-big-text {
    color: #eee;
    font-family: 'Eczar', serif;
    width: 95vw;
}

.panel-0-big-text-quote {
    font-size: 30px;
    text-align: center;
}

.panel-0-big-text-author {
    font-size: 15px;
    text-align: right;
}

.panel-1 {
    background-color: #fff985;
}

.panel-1-big-text {
    color: #111;
    font-family: 'Zilla Slab', sans-serif;
}

.panel-1-big-text-icon {
    font-size: 70px;
    text-align: center;
}

.panel-1-big-text-name {
    font-size: 45px;
    text-align: center;
}

.panel-1-big-text-about {
    margin-top: 10px;
    text-align: center;
}

.panel-1-big-text-about-line {
    font-size: 20px;
    margin-bottom: 10px;
}

.panel-1-big-text-links {
    font-size: 20px;
    margin-top: 25px;
}

.panel-1-big-text-link > a {
    color: #3d3dc3;
}

/* The styles above are for small screens. Here, we override stuff for larger
 * screens. */
@media screen and (min-width: 501px) {
    .panel-0-big-text {
        width: 80vw !important;
    }

    .panel-0-big-text-quote {
        font-size: 40px !important;
    }

    .panel-0-big-text-author {
        font-size: 25px !important;
    }

    .panel-1-big-text-icon {
        font-size: 80px !important;
    }

    .panel-1-big-text-name {
        font-size: 55px !important;
    }

    .panel-1-big-text-about-line {
        font-size: 25px !important;
    }

    .panel-1-big-text-links {
        font-size: 25px !important;
    }
}
