#main-text {
  text-align: center;

  margin-top: 20vh;
}

h1, h3, h4 {
  font-weight: normal;
}

#heart {
  font-size: 100px;
  margin-bottom: 50px;
}

#big-name {
  font-family: 'Cardo', serif;
  font-size: 75px;

  margin-top: 0;
}

#subtitle {
  font-family: 'Vollkorn', serif;

  text-transform: uppercase;
  font-size: 25px;
}

#links {
  font-family: 'Vollkorn', serif;

  font-size: 20px;
}

#links a {
  color: black;
}
