---
---

#big-header {
  height: 100vh;
  padding-top: 23vh;

  background-color: #222;

  h1, h2 {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;

    text-align: center;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
  }
}

#contact-row {
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 0px;

  text-align: center;

  .contact-icon {
    font-size: 90px;
  }

  .contact-subtitle {
    font-size: 25px;
  }

  a {
    color: #FFF;
    text-decoration: none;
  }
}
