body {
  background-color: #111;
}

#big-header-container {
  text-align: center;
  margin-top: 10%;

  font-family: 'Abril Fatface', cursive;
  color: #EEE;

  #big-header {
    font-size: 110px;
    letter-spacing: 1px;
  }

  #separator {
    width: 60%;
  }

  #big-caption {
    font-family: 'Cardo', serif;

    font-size: 40px;
  }

  #spacer {
    margin-top: 1%;
  }

  #small-caption {
    font-family: 'Cardo', serif;

    font-size: 25px;
  }
}

#contacts {
  $contact-gray: #BBB;

  margin-top: 7%;
  width: 40%;

  text-align: center;

  .contact-icon {
    font-size: 600%;
  }

  a {
    color: $contact-gray;
    text-decoration: none;

    &:hover {
      color: #EEE;
    }
  }

  .contact-subtitle {
    font-size: 25px;
  }
}
