---
---

@import '/vendor/css/bootstrap.min.css';

body {
  background-color: #EEE;
}

#post-title-container {
  padding-top: 15vh;
  padding-bottom: 15vh;

  margin-bottom: 70px;

  #post-title, #post-date {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;

    text-align: center;
  }

  #post-title {
    font-size: 54px;
  }

  #post-summary {
    font-size: 30px;
  }
}

.post-content {
  font-family: 'Merriweather', serif;
  font-size: 21px;

  .highlight code {
    font-size: 15px;
  }

  hr {
    border-color: #DDD;
  }
}

.post-list .post-summary {
  font-size: 21px;
}

footer {
  font-size: 19px;
  font-style: italic;

  padding-bottom: 20px;
}
