---
---

@import '/vendor/css/bootstrap.min.css';

h1, h2, h3, h4, h5, h6, * {
  font-family: 'Computer Modern Serif';
}

h3, h4, h5, h6 {
  font-weight: bold;
}

.post-list .post-summary {
  font-family: 'Computer Modern Serif';

  font-size: 21px;
}

#content {
  font-size: 21px;

  code, .highlight span {
    font-family: 'Computer Modern Typewriter Light' !important;
  }

  .meta {
    font-size: 18px;
  }

  p {
    text-align: justify;
  }

  .highlight code {
    font-size: 18px;
  }
}

footer {
  font-size: 19px;
  font-style: italic;

  padding-bottom: 20px;
}
