@import 'bourbon/bourbon';
@import 'bootstrap.min.css';
@import 'typography.css';

* {
  font-family: 'charterregular' !important;
}

#brand {
  font-size: 46px;
}

.post p, .post-summary {
  font-size: 26px;
  margin-bottom: 20px;
}
